.quiz-card{
    border: 2px solid rgb(12, 105, 255);
    padding: 1.1rem;
    border-radius: 13px;
    background-color: #fcd3e0;
    box-shadow: 0 0 30px rgb(255, 200, 0);
   
   

   
  
}
.quiz-card h2 {
   font-size: clamp(2.2rem, 4vw, 2.9rem);
   text-align: center;
   margin-top: 0;
}
.quiz-card h2 span {
    font-size: calc(1.8rem + 1vw);
 }
.quiz-card > img {
    max-width: 100%;  
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 5px;
      
}

.quiz-card ul {
    margin: 0;
    padding: 0;
}

.quiz-card li {
    list-style: none;
   font-size: 100%;
   margin-bottom:5px;
    padding: 0.7em;
    transition: font-size 0.5s ease-in-out;
    background-color:white;
    border-radius: 5px;
    border: 2px solid #00000f4b;
    cursor:pointer
}

.quiz-card li:hover {
    font-size: 120%;
    background-color:rgb(255, 112, 196);
    color:white;

        transition: font-size 0.3s ease-in-out;
}


