.result-image {
  display: flex;
  margin: 0 auto;
  width: 50%;
  max-width: 300px;
}

.results button{
    padding: 10px;
    display: flex;
    margin: auto;
    background-color: #ffa340;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
    transition: 100ms ease-in;
    animation: bounce 1s ease infinite ;
    animation-delay: 5s;
    
    
   
}
.results button:hover{
    background-color:rgb(255, 106, 0);
    transform: scale(1.1);
    transition: 100ms ease-in

}

.results h3, p {
    font-size: 20px;
    text-align: center;
}




@keyframes bounce {
    0%   { transform: scale(1,1) translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-15px);}
    50%  { transform: scale(1.05,.95) translateY(0); }
    58%  { transform: scale(1,1) translateY(-7px); }
    65%  { transform: scale(1,1) translateY(0);}
    100% { transform: scale(1,1) translateY(2)}

} 

